@model IEnumerable<VTaskViewModel>

@{
    ViewData["Title"] = "VTasks";
}

<div class="modal fade" id="task-edit-modal">
</div>

<div class="modal fade" id="task-delete-modal">
</div>

<div class="d-flex justify-content-sm-between">
    <h2 class="text-center my-4">Tasks</h2>
    <div class="my-4">
        <a class="btn btn-primary mb-1" asp-action="Create" asp-controller="Task">Create</a>
    </div>
</div>

<div class="row">
    <div class="table-responsive text-center">
        <table class="table table-bordered" id="task-table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Start date</th>
                    <th scope="col">Deadline Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        <td>
                            @task.TaskId
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Task" asp-route-id="@task.TaskId" class="btn-details">@task.Name</a>
                        </td>
                        <td>
                            @task.Description
                        </td>
                        <td>
                            @task.StartDate
                        </td>
                        <td>
                            @task.DeadlineDate
                        </td>
                        <td>
                            <a class="btn btn-warning btn-edit" style="width: 45%" asp-action="Edit" asp-controller="Task" asp-route-id="@task.TaskId">Edit</a>
                            <a class="btn btn-danger btn-delete" style="width: 45%" asp-action="Delete" asp-controller="Task" asp-route-id="@task.TaskId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ModalScripts"); }
}