@model IEnumerable<TaskTrackViewModel>

@{
    ViewData["Title"] = "VTasks";
}

<div id="modalDialog" class="modal fade" >
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="d-flex justify-content-sm-between">
    <h2 class="text-center my-4">Task tracks</h2>
    <div class="my-4">
        <a class="btn btn-primary mb-1" asp-action="Create" asp-controller="TaskTrack">Create</a>
    </div>
</div>
<div class="row">
    <div class="table-responsive text-center">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Note</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var taskTrack in Model)
                {
                    <tr>
                        <td>
                            @taskTrack.TaskTrackId
                        </td>
                        <td>
                            ---
                        </td>
                        <td>
                            @taskTrack.TrackNote
                        </td>
                        <td>
                            @taskTrack.TrackDate
                        </td>
                        <td>
                            <a class="btn btn-warning" style="width: 45%" asp-action="Edit"
                               asp-controller="TaskTrack" asp-route-id="@taskTrack.TaskTrackId">Edit</a>
                            <a class="btn btn-danger" style="width: 45%" asp-action="Delete"
                               asp-controller="TaskTrack" asp-route-id="@taskTrack.TaskTrackId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
           $.ajaxSetup({ cache: false });
           $(".create").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modalDialog').modal('show');
                });
            });
           $(".edit").click(function (e) {
               e.preventDefault();
               $.get(this.href, function (data) {
                   $('#dialogContent').html(data);
                   $('#modalDialog').modal('show');
               });
           });
            $(".delete").click(function (e) {
               e.preventDefault();
               $.get(this.href, function (data) {
                   $('#dialogContent').html(data);
                   $('#modalDialog').modal('show');
               });
           });
        })
    </script>
}