@model IEnumerable<VUserProfileViewModel>

@{
    ViewData["Title"] = "UserProfile";
}

<h2 class="text-center my-4">Members</h2>
<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Direction</th>
                    <th scope="col">Education</th>
                    <th scope="col">Start date</th>
                    <th scope="col">Age</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <div class="d-flex justify-content-sm-between">
                    <h2>Members</h2>
                    <a class="btn btn-primary mb-1" asp-action="Create" asp-controller="UserProfile">Create</a>
                </div>
                @foreach (var user in Model)
                {
                    <tr>
                        <th scope="row">#</th>
                        <td>
                            <a asp-action="Details">@user.FullName</a>
                        </td>
                        <td>
                            @user.Direction
                        </td>
                        <td>
                            @user.Education
                        </td>
                        <td>
                            @user.StartDate
                        </td>
                        <td>
                            @user.Age
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Index" asp-controller="Task">Tasks</a>
                            <a class="btn btn-primary" asp-action="UserProgress" asp-controller="UserProfile">Progress</a>
                            <a class="btn btn-success" asp-action="Edit" asp-controller="UserProfile">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="UserProfile">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
